<configuration>
  <!-- Constants -->
  <timestamp key="timestamp_day" datePattern="yyyy-MM"/>
  <property name="encoder_pattern" value="%d{HH:mm:ss.SSS} [%level] - %msg%n"/>
  <property name="level" value="DEBUG"/>
  <property name="append" value="FALSE"/>

  <!-- ROOT Logger -->
  <appender name="ROOT_LOGGER" class="ch.qos.logback.core.FileAppender">
    <file>log/root_${timestamp_day}.log</file>
    <append>${append}</append>
    <encoder><pattern>${encoder_pattern}</pattern></encoder>
  </appender>
  <root level="${level}">
    <appender-ref ref="ROOT_LOGGER" />
  </root>

  <!-- TS3-API Logger -->
  <appender name="TS3_API_LOGGER" class="ch.qos.logback.core.FileAppender">
    <file>log/ts3-api_${timestamp_day}.log</file>
    <append>${append}</append>
    <encoder><pattern>${encoder_pattern}</pattern></encoder>
  </appender>
  <logger name="com.github.theholywaffle" level="${level}" additivity="TRUE">   <!-- additivity: If the message will be added to the parent logger. -->
        <appender-ref ref="TS3_API_LOGGER"/>
  </logger>

  <!-- BOT_MAIN Logger -->
  <appender name="BOT_MAIN_LOGGER" class="ch.qos.logback.core.FileAppender">
    <file>log/bot_${timestamp_day}.log</file>
    <append>${append}</append>
    <encoder><pattern>${encoder_pattern}</pattern></encoder>
  </appender>
  <logger name="com.bot.BotMain" level="${level}" additivity="TRUE">
        <appender-ref ref="BOT_MAIN_LOGGER"/>
  </logger>

  <!-- ActivityDisplay-Feature Logger -->
  <appender name="ACTIVITY_DISPLAY_LOGGER" class="ch.qos.logback.core.FileAppender">
    <file>log/activity_${timestamp_day}.log</file>
    <append>${append}</append>
    <encoder><pattern>${encoder_pattern}</pattern></encoder>
  </appender>
  <logger name="com.features.activitydisplay.ActivityDisplayFeature" level="${level}" additivity="TRUE">
        <appender-ref ref="ACTIVITY_DISPLAY_LOGGER"/>
  </logger>

  <!-- MaxServerClients-Feature Logger -->
  <appender name="MAX_SERVER_CLIENTS_LOGGER" class="ch.qos.logback.core.FileAppender">
    <file>log/maxServerClients_${timestamp_day}.log</file>
    <append>${append}</append>
    <encoder><pattern>${encoder_pattern}</pattern></encoder>
  </appender>
  <logger name="com.features.maxServerClients.MaxServerClients" level="${level}" additivity="TRUE">
        <appender-ref ref="MAX_SERVER_CLIENTS_LOGGER"/>
  </logger>

</configuration>
